/* 
transition 전환

transition-property, transition-duration
transition-delay, transition-timing-function

*/

.box {
    width: 300px;
    height: 80px;
    border: 2px dashed teal;
    background-color: salmon;
    font-size: 50px;
    color: white;

    /*transition-property: all;
    transition-duration: 3s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    */
    transition: all 3s ease-in-out 1s;

}

.box:hover {
    height: 450px;
    background-color: blue;
    color: black;
    font-size: 60px;



}